// COLOR VARIABLES
$color-red: #fe5244;
$color-green: #3fb1b5;
$color-blue: #66b0f0;
$color-purble: #9a3b82;
$color-light-green: #d0f0e4;
$color-black: #303030;
$color-white: #fff;
$color-grey: #f6f6f6;

// FONT FAMILY VARIABLES
$font-fam-calistoga: "Calistoga", cursive;
$font-fam-inter: "Inter", sans-serif;

// FONT-SIZE VARIABLES
$font-bigger: 7rem;
$font-big: 4.5rem;
$font-med: 3.8rem;
$font-small: 2.2rem;
$font-smaller: 1.8rem;

