body {
  font-family: $font-fam-inter;
  color: $color-black;
}

h1,
h2 {
  font-family: $font-fam-calistoga;
}

.container {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

::placeholder {
  font-family: $font-fam-calistoga;
  font-size: 2rem;
  color: $color-green;
  line-height: 2.6rem;
}